<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Info</title>
</head>
<body>
    <h1>System Information</h1>
    <button onclick="getSystemInfo()">Get System Info</button>
    <pre id="output"></pre>
    <!-- <p id="demo"></p> -->

    <script>
    /* const x = document.getElementById("demo");
        var lat ="";
        var lon = "";
       function getLocation(){
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition);
          } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
       }
        

          function showPosition(position) {

              getSystemInfo()
              lat = position.coords.latitude
              lon = position.coords.longitude
            x.innerHTML="Latitude: " + lat + 
            "<br>Longitude: " + lon;
        }*/
        function getSystemInfo() {
           
           
            fetch("/get_system_info") //?lat=${latitude}&lon=${longitude}
                .then(response => response.json())//json,text[response]
                .then(data => {
                    console.log("method called"+ data)
                     document.getElementById("output").innerText =JSON.stringify(data);
                     console.log("method called2"+ data)
                })
                .catch(error => console.error("Error:", error));
        }
    </script>
</body>
</html>